.br {
  display: none;
}

@include only_mobile() {
  .br--mobile {
    display: inline;
  }
}

@include only_tablet() {
  .br--tablet {
    display: inline;
  }
}

@include desktop() {
  .br--desktop {
    display: inline;
  }
}
