.button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;

  border-radius: 2px;
  background-color: $color_green;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(#ffffff, 0.3);
  }

  &:disabled {
    color: #ffffff;
    background-color: $color_gray_3;
  }
}
