.comments {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.comments__btn {
  display: none;
}

.comments__list {
  @include list_reset();

  padding-left: 20px;
  padding-right: 20px;
}

.comments__item {
  display: none;

  text-align: center;

  &--active {
    display: block;
  }
}

.comments__item-author {
  margin: 0;
  margin-bottom: 20px;
}

.comments__item-name {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.comments__item-info {
  display: none;
}

.comments__item-text {
  margin: 0;
  margin-bottom: 35px;

  line-height: 30px;
  color: $color_dark_blue;
}

@include tablet() {
  .comments {
    width: $tablet_width;
  }

  .comments__item--active {
    display: flex;
    flex-direction: column-reverse;
  }

  .comments__item-author {
    margin-bottom: 30px;
  }

  .comments__item-name {
    font-size: 20px;
  }

  .comments__item-info {
    display: block;

    color: $color_dark_blue;
    line-height: 30px;
  }

  .comments__item-text {
    margin-bottom: 40px;

    font-size: 18px;
  }
}

@include desktop() {
  .comments {
    width: 100%;
  }

  .comments__container {
    position: relative;
  }

  .comments__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    padding: 0;

    cursor: pointer;
    border: none;
    background: transparent;
    color: $color_gray_2;

    &:hover {
      color: #7e868f;
    }

    &:active {
      color: #e9ebec;
    }

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }

  .comments__btn-arrow {
    display: block;
    width: 22px;
    height: 41px;
  }

  .comments__list {
    width: 700px;
    margin: 0 auto;
    padding: 0;
  }

  .comments__item {
    position: relative;

    padding-top: 120px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 79px;
      height: 63px;

      background-image: url("../../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }

  .comments__item-name {
    font-size: 24px;
  }

  .comments__switches {
    display: none;
  }
}
