.comments {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 40px;
}

.comments__list {
  @include list_reset();

  padding-left: 20px;
  padding-right: 20px;
}

.comments__item {
  display: none;

  text-align: center;

  &--active {
    display: block;
  }
}

.comments__item-author {
  margin: 0;
  margin-bottom: 20px;
}

.comments__item-name {
  display: block;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.comments__item-info {
  display: none;
}

.comments__item-text {
  margin: 0;
  margin-bottom: 35px;

  line-height: 30px;
  color: $color_dark_blue;
}

@include tablet() {
  .comments {
    width: $tablet_width;
  }

  .comments__item--active {
    display: flex;
    flex-direction: column-reverse;
  }

  .comments__item-author {
    margin-bottom: 30px;
  }

  .comments__item-name {
    font-size: 20px;
  }

  .comments__item-info {
    display: block;

    color: $color_dark_blue;
    line-height: 30px;
  }

  .comments__item-text {
    margin-bottom: 40px;

    font-size: 18px;
  }
}
