.editor {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: $color_gray;
}

.editor__picture {
  display: block;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.editor__controls {
  @include list_reset();

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 38px;
  padding-left: 55px;
  padding-right: 65px;
  padding-bottom: 77px;
  border-bottom: 1px solid #dddfe0;
}

.editor__control-radio {
  display: none;

  &:checked + .editor__control-label {
    color: $color_pink;
  }

  &:checked + .editor__control-label + .editor__control-range {
    display: block;
  }
}

.editor__control-label {
  display: block;

  color: #b5b9be;
  cursor: pointer;

  &:hover {
    color: #8d949b;
  }
}

.editor__control-icon {
  display: block;
}

.editor__control-range {
  position: absolute;
  bottom: 28px;
  left: 38px;

  width: 240px;
  display: none;
}

.editor__btns {
  padding-left: 20px;
  padding-right: 20px;
}

.editor__btn {
  width: 100%;

  &:first-child {
    margin-bottom: 12px;
  }
}

@include tablet() {
  .editor {
    display: flex;
    justify-content: space-between;
    width: $tablet_width;
    padding-top: 57px;
    padding-bottom: 54px;
    padding-left: 20px;
    padding-right: 32px;
  }

  .editor__picture {
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 0;
  }

  .editor__form {
    display: flex;
    flex-direction: column;
    width: 260px;
  }

  .editor__controls {
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-bottom: none;
  }

  .editor__control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #dddfe0;

    &--crop {
      padding-top: 9px;

      .editor__control-icon {
        width: 22px;
        height: 22px;
      }
    }

    &--fill {
      padding-top: 27px;

      .editor__control-icon {
        width: 24px;
        height: 22px;
      }
    }

    &--contrast {
      padding-top: 26px;

      .editor__control-icon {
        width: 16px;
        height: 16px;
      }
    }
  }

  .editor__control-label {
    cursor: default;
  }

  .editor__control-icon {
    color: $color_pink;
  }

  .editor__control-range {
    position: static;

    display: block;
    width: 202px;
  }

  .editor__btns {
    margin-top: auto;
    padding: 0;
  }

  .editor__btn:first-child {
    margin-bottom: 24px;
  }
}

@include desktop() {
  .editor {
    width: $desktop_width - 20px;
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
  }

  .editor__form {
    width: 410px;
  }

  .editor__control {
    padding-right: 30px;

    &--crop {
      padding-top: 0;
      padding-bottom: 13px;

      .editor__control-icon {
        width: 44px;
        height: 44px;
      }
    }

    &--fill {
      padding-top: 15px;
      padding-bottom: 14px;

      .editor__control-icon {
        width: 48px;
        height: 43px;
      }
    }

    &--contrast {
      padding-top: 18px;
      padding-bottom: 19px;

      .editor__control-icon {
        width: 32px;
        height: 32px;
      }
    }
  }

  .editor__control-range {
    width: 288px;
  }

  .editor__btns {
    display: flex;
    justify-content: space-between;
  }

  .editor__btn {
    width: auto;
    min-width: 183px;
  }

  .editor__btn:first-child {
    margin-bottom: 0;
  }
}
