.fieldset {
  @include fieldset_reset();

  &--gray {
    background-color: $color_gray;

    .fieldset__title {
      background-color: $color_gray;
    }
  }
}

.fieldset__title {
  display: block;
  margin: 0 auto;
  padding-top: 38px;
  padding-left: 25px;
  padding-right: 25px;

  color: $color_pink;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  &--tablet {
    display: none;
  }
}

.fieldset__body {
  padding-left: 20px;
  padding-right: 20px;
}

@include tablet() {
  .fieldset {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid $color_gray_3;

    background-color: transparent;

    &--gray {
      .fieldset__title {
        background-color: transparent;
      }
    }
  }

  .fieldset__title {
    padding-top: 0;

    &--tablet {
      display: block;
    }
  }

  .fieldset__body {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@include desktop() {
  .fieldset {
    margin: 0;
  }
}
