.footer {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  &--no-mobile {
    display: none;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 42px;
}

.footer__logo-svg {
  display: block;
  width: 147px;
  height: 41px;

  &:hover {
    .footer__logo-text {
      fill: $color_pink;
    }
  }

  &:active {
    opacity: 0.3;

    .footer__logo-text {
      fill: $color_dark_blue;
    }
  }
}

.footer__socials {
  width: 100%;
  margin-bottom: 41px;
}

.footer__developer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:hover {
    .footer__developer-logo {
      color: $color_dark_blue;
    }
  }

  &:active {
    .footer__developer-logo {
      color: $color_dark_blue;
      opacity: 0.3;
    }
  }
}

.footer__developer-text {
  color: $color_dark_blue;
  font-weight: 400;
}

.footer__developer-logo {
  width: 27px;
  height: 34px;
  margin-left: 15px;

  color: $color_pink;
}

@include tablet() {
  .footer {
    width: $tablet_width;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    display: block;
  }

  .footer__container {
    justify-content: space-between;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__socials {
    justify-content: space-between;
    width: 175px;
    padding-top: 4px;
    margin-bottom: 0;
    margin-left: -18px;
  }

  // Pixelperfect
  .footer__developer {
    margin-top: 6px;
  }
}

@include desktop() {
  .footer {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 74px;
  }
}
