.form {
  width: $mobile_width;
  margin: 0 auto;
}

// Fullname

.form__fullname {
  @include fieldset_reset();

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__fullname-field {
  margin: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__fullname-label {
  display: block;
  padding-left: 22px;
  margin-bottom: 5px;

  line-height: 30px;
  color: $color_pink;
  text-transform: uppercase;
  cursor: pointer;
}

.form__fullname-input {
  width: 100%;
}

// Achievements

.form__achievements-body {
  padding-top: 37px;
  padding-bottom: 42px;
}

.form__achievements-field {
  margin: 0;
  margin-bottom: 43px;
}

.form__achievements-group:last-child .form__achievements-field:last-child {
  margin-bottom: 0;
}

// Contacts

.form__contacts-body {
  padding-top: 33px;
  padding-bottom: 42px;
}

.form__contacts-field {
  margin: 0;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__contacts-label {
  display: block;
  padding-left: 23px;
  margin-bottom: 5px;

  line-height: 30px;
  color: $color_pink;
  text-transform: uppercase;
  cursor: pointer;
}

.form__contacts-input {
  width: 100%;
}

// Application

.form__application-body {
  padding-top: 33px;
  padding-bottom: 42px;
}

.form__application-list {
  @include list_reset();
}

.form__application-field {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }
}

// Review

.form__review-body {
  padding-top: 17px;
  padding-bottom: 48px;
}

.form__review-field {
  display: block;
  width: 100%;
  min-height: 200px;

  resize: vertical;
}

// Footer

.form__footer {
  padding-left: 20px;
  padding-right: 20px;
}

.form__button {
  display: block;
  width: 100%;
  margin-bottom: 38px;
}

.form__note {
  margin: 0;
  text-align: center;
  color: $color_dark_blue;
  text-transform: uppercase;
}

.form__note-star {
  color: $color_pink;
}

.form__note-refinement {
  display: none;
}

@include tablet() {
  .form {
    width: $tablet_width;
  }

  .form__form {
    display: flex;
    flex-direction: column;
  }

  // Fullname

  .form__fullname {
    order: 1;
    padding-bottom: 56px;
  }

  .form__fullname-field {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
  }

  .form__fullname-label {
    padding-left: 0;
    margin-right: 17px;
    margin-bottom: 0;
  }

  .form__fullname-input {
    padding-left: 22px;
  }

  // Achievements

  .form__achievements {
    order: 4;
    margin-bottom: 58px;
  }

  .form__achievements-body {
    padding-top: 42px;
    padding-bottom: 48px;
  }

  // Contacts

  .form__contacts {
    order: 3;
    margin-bottom: 56px;
  }

  .form__contacts-body {
    padding-top: 37px;
    padding-bottom: 27px;
  }

  .form__contacts-field {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 27px;
  }

  .form__contacts-phone,
  .form__contacts-email {
    position: relative;

    margin-bottom: 10px;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      width: 60px;

      background-color: $color_gray_3;
    }

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      background-repeat: no-repeat;
    }
  }

  .form__contacts-phone {
    &::after {
      right: 21px;

      width: 20px;
      height: 19px;

      background-image: url("../../img/icon-phone.svg");
    }
  }

  .form__contacts-email {
    &::after {
      right: 21px;

      width: 19px;
      height: 13px;

      background-image: url("../../img/icon-mail.svg");
    }
  }

  .form__contacts-label {
    margin-bottom: 0;
    padding-left: 17px;
  }

  .form__contacts-input {
    position: relative;
    z-index: 1;

    padding-left: 16px;
    padding-right: 80px;

    background-color: transparent;
  }

  // Application

  .form__application {
    order: 2;
    margin-bottom: 58px;
  }

  .form__application-body {
    padding-top: 43px;
    padding-bottom: 54px;
  }

  // Review

  .form__review {
    order: 5;
    margin-bottom: 67px;
  }

  .form__review-body {
    padding-top: 38px;
    padding-bottom: 51px;
  }

  .form__review-field {
    min-height: 193px;
    padding-left: 16px;
  }

  // Footer

  .form__footer {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .form__button {
    width: 300px;
    margin-bottom: 0;
  }

  .form__note {
    margin: 0;
  }
}

@include desktop() {
  .form {
    width: 100%;
  }

  .form__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // Fullname
  .form__fullname {
    width: 435px;
    padding: 0;
    margin-top: auto;
  }

  .form__fullname-field {
    margin-bottom: 49px;

    &:first-child {
      margin-bottom: 54px;
    }
  }

  // Achievements

  .form__achievements {
    width: 100%;
  }

  .form__achievements-body {
    padding-top: 43px;
    padding-bottom: 55px;
  }

  .form__achievements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__achievements-field {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__achievements-label {
    padding-left: 60px;
  }

  // Contacts

  .form__contacts {
    width: 100%;
    margin-top: 56px;
    margin-bottom: 57px;
  }

  .form__contacts-body {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
    padding-bottom: 13px;
  }

  .form__contacts-field {
    width: 371px;
    margin: 0;
  }

  // Application

  .form__application {
    width: 435px;
    margin-bottom: 0;
  }

  .form__application-body {
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 55px;
    padding-top: 45px;
  }

  // Review

  .form__review {
    width: 100%;
    margin-bottom: 65px;
  }

  .form__review-body {
    padding-top: 33px;
    padding-bottom: 44px;
  }

  .form__review-field {
    min-height: 128px;
  }

  // Footer
  .form__footer {
    width: 100%;
    padding: 0;
  }

  .form__note-refinement {
    display: inline;
  }
}
