.form-page__main {
  margin-bottom: 17px;
}

.form-page__main-header {
  padding-bottom: 51px;
}

.form-page__main-text {
  padding-bottom: 34px;
}

@include tablet() {
  .form-page__main {
    margin-bottom: 46px;
  }

  .form-page__main-header {
    padding-bottom: 79px;
  }

  .form-page__main-text {
    padding-top: 92px;
    padding-bottom: 70px;
  }

  .form-page__main-text-paragraph {
    width: 500px;
  }
}

@include desktop() {
  .form-page__main {
    margin-bottom: 0;
  }

  .form-page__main-header {
    padding-bottom: 101px;
  }

  .form-page__main-text {
    padding-bottom: 71px;
  }

  .form-page__footer {
    padding-top: 68px;
  }

  .form-page__main-text-paragraph {
    width: 760px;
  }
}
