.input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid $color_gray_3;

  border-radius: 2px;
  color: $color_dark_blue;
  font-size: 18px;
  line-height: 30px;

  &::-moz-placeholder {
    color: $color_dark_blue;
  }

  &::-webkit-input-placeholder {
    color: $color_dark_blue;
  }

  &:-ms-input-placeholder {
    color: $color_dark_blue;
  }

  &::-ms-input-placeholder {
    color: $color_dark_blue;
  }

  &::placeholder {
    color: $color_dark_blue;
  }

  &:hover {
    border-color: $color_dark_blue;
  }

  &:focus {
    border-color: $color_pink;
    outline: none;
  }
}

@include tablet() {
  .input {
    padding-left: 20px;
    padding-right: 20px;
  }
}
