.main-header {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 80px;

  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top center;
}

.main-header__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

@include tablet() {
  .main-header {
    width: $tablet_width;
    padding-top: 185px;
    padding-bottom: 145px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  .main-header__title {
    font-size: 50px;
    line-height: 60px;
  }
}

@include desktop() {
  .main-header {
    width: 100%;
    padding-top: 170px;
    padding-bottom: 95px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .main-header__title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
