.photos {
  width: $mobile_width;
  margin: 0 auto;
}

.photos__list {
  @include list_reset();

  padding-left: 20px;
  padding-right: 20px;
}

.photos__item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

@include tablet() {
  .photos {
    width: $tablet_width;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photos__item {
    width: 300px;

    &:nth-child(2) {
      margin-top: 0;
    }
  }
}
