.photos-page__main-text-2 {
  padding-bottom: 42px;
}

@include tablet() {
  .photos-page__main-text-2 {
    padding-top: 66px;
    padding-bottom: 69px;
  }
}
@include tablet() {
  .photos-page__main-text-2 {
    padding-top: 60px;
    padding-bottom: 66px;
  }
}
