.photo {
  position: relative;

  &--panorama {
    width: $mobile_width;
    margin: 0 auto;
    margin-bottom: 20px;

    .photo__info {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.photo__panorama {
  position: absolute;
  top: 0;

  width: $mobile_width;
  margin: 0 auto;
}

.photo__panorama-text {
  position: absolute;
  top: 0;
  right: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;

  background-color: $color_pink;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

.photo__picture {
  display: block;
}

.photo__img {
  display: block;
}

.photo__info {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 17px;
  padding-bottom: 20px;

  background-color: $color_gray;
}

.photo__author {
  margin: 0;

  color: $color_dark_blue;
}

.photo__time {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.photo__comment {
  margin: 0;
  margin-bottom: 9px;

  color: $color_dark_blue;
}

.photo__likes {
  position: relative;

  margin: 0;
  padding-left: 32px;
  padding-right: 0;
  border: none;

  text-transform: uppercase;
  text-align: left;
  color: $color_pink;
  font-size: 12px;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 12px;
    height: 13px;

    background-image: url("../../img/icon-heart.svg");
    background-repeat: no-repeat;
  }
}

@include tablet() {
  .photo {
    &--panorama {
      width: $tablet_width;
      margin-bottom: 50px;

      .photo__picture {
        overflow: hidden;
      }

      // Pixelperfect
      .photo__img {
        max-width: none;
        height: 508px;
        margin-left: -20px;
      }

      .photo__info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      .photo__comment {
        order: 1;
        width: 100%;
      }

      .photo__likes {
        padding-left: 0;
        padding-right: 30px;

        &::before {
          left: auto;
          right: 0;
        }
      }
    }

    &:not(.photo--panorama) {
      display: flex;
      flex-direction: column;
      height: 100%;

      .photo__info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-bottom: 22px;
      }

      .photo__comment {
        flex-grow: 1;
        min-height: 48px;
        margin-bottom: 11px;
      }

      .photo__likes {
        padding-left: 0;
        padding-right: 20px;

        &::before {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .photo__panorama {
    top: 57px;

    width: $tablet_width;
  }

  .photo__info {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

@include desktop() {
  .photo {
    &--panorama {
      width: 100%;
      margin-bottom: 50px;

      // Хак для IE. Иначе появляется горизонтальная прокрутка.
      overflow: hidden;

      // Pixelperfect
      .photo__picture {
        height: 506px;
      }

      .photo__img {
        margin: 0 auto;
      }

      .photo__info {
        width: $desktop_width - 20px;
        margin: 0 auto;
      }
    }
  }

  .photo__panorama {
    width: $desktop_width;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
  }

  .photo__panorama-text {
    right: 10px;
  }
}
