.prices {
  width: $mobile_width;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 47px;

  overflow: hidden;
  background-color: $color_gray;
}

.prices__table {
  $mobile_table_width: 832px;

  width: $mobile_table_width;
  margin-bottom: 40px;
  margin-left: -($mobile_table_width - $mobile_width) / 2;

  border-collapse: collapse;
}

.prices__table-th {
  // Обёртка над содержимым ячейки - это хак для Firefox,
  // так как в нём нельзя задать относительное позиционирование для ячейки.
  .prices__table-cell {
    position: relative;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 20px;

    background-color: $color_dark_blue;
    color: #ffffff;
  }

  &:nth-child(1) {
    display: none;
  }

  &:nth-child(2) {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:nth-child(4) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &--hit {
    .prices__table-cell {
      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: -2px;

        display: block;
        width: 74px;
        height: 73px;

        background-image: url("../../img/bg-hit.svg");
        background-repeat: no-repeat;
      }

      &::after {
        content: "Хит";

        position: absolute;
        top: 13px;
        left: 8px;
        transform: rotate(-45deg);

        text-transform: uppercase;
        line-height: 30px;
      }
    }
  }
}

.prices__table-field {
  display: block;

  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
}

.prices__table-price {
  display: block;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.prices__table-tr {
  &:first-child {
    .prices__table-value {
      border-top: none;
    }
  }
}

.prices__table-function {
  display: none;
}

.prices__table-value {
  .prices__table-cell {
    position: relative;

    padding-left: 22px;
    padding-right: 66px;
    padding-top: 15px;
    padding-bottom: 15px;

    &::before {
      content: "";

      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);

      display: block;

      background-repeat: no-repeat;
    }
  }

  border: 2px solid $color_gray_3;

  text-transform: uppercase;
  color: $color_dark_blue;
  line-height: 30px;
  background-color: #ffffff;

  &--yes {
    .prices__table-cell {
      &::before {
        width: 31px;
        height: 21px;

        background-image: url("../../img/icon-yes.svg");
      }
    }
  }

  &--no {
    .prices__table-cell {
      &::before {
        width: 27px;
        height: 26px;

        background-image: url("../../img/icon-no.svg");
      }
    }
  }
}

@include tablet() {
  .prices {
    width: $tablet_width;
    padding-top: 92px;
    padding-bottom: 68px;
  }

  .prices__table {
    width: $tablet_width - 40px;
    margin: 0 auto;
  }

  .prices__table-th {
    .prices__table-cell {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:first-child {
      display: table-cell;
      visibility: hidden;
    }
  }

  // Хаки для эмулирования закруглённых углов у таблицы
  .prices__table-tr {
    &:first-child {
      .prices__table-function {
        @include table_border_hack() {
          top: -2px;
          left: -2px;
        }
      }
    }

    &:last-child {
      .prices__table-function {
        @include table_border_hack() {
          bottom: -2px;
          left: -2px;
        }
      }

      .prices__table-value {
        &:last-child {
          @include table_border_hack() {
            bottom: -2px;
            right: -2px;
          }
        }
      }
    }
  }

  .prices__table-function {
    display: table-cell;

    padding-left: 15px;
    border: 2px solid $color_gray_3;

    background-color: #ffffff;
    color: $color_dark_blue;
  }

  .prices__table-value {
    .prices__table-cell {
      padding-top: 10px;
      padding-bottom: 10px;

      &::before {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    font-size: 0;
  }

  .prices__switches {
    display: none;
  }
}

@include only_tablet() {
  .prices__table-th {
    &--hit {
      .prices__table-cell {
        &::before {
          width: 61px;
          height: 61px;

          background-image: url("../../img/bg-hit-tablet.svg");
        }

        &::after {
          top: 6px;
          left: 3px;
        }
      }
    }
  }

  .prices__table-field {
    font-size: 16px;
  }

  .prices__table-price {
    font-size: 18px;
  }
}

@include desktop() {
  .prices {
    width: 100%;
    padding-top: 158px;
    padding-bottom: 95px;
  }

  .prices__table {
    width: $desktop_width - 20px;
  }

  .prices__table-function {
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;
  }
}
