.triangle-background {
  background-image: url("../../img/triangle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;

  &--footer {
    background-image: url("../../img/triangle-footer.svg");
  }
}
