.triangle {
  width: $mobile_width;
  margin: 0 auto;

  background-color: $color_gray;

  &--transparent {
    background-color: transparent;
  }
}

.triangle-svg {
  display: block;
}

@include tablet() {
  .triangle {
    width: $tablet_width;
  }
}

@include desktop() {
  .triangle {
    width: 100%;
  }
}
