@mixin list_reset() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin tablet() {
  @media (min-width: $tablet_width) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: $desktop_width) {
    @content;
  }
}

@mixin mobile_tablet() {
  @media (max-width: $desktop_width - 0.2) {
    @content;
  }
}

@mixin only_mobile() {
  @media (max-width: $tablet_width - 0.2) {
    @content;
  }
}

@mixin only_tablet() {
  @media (min-width: $tablet_width) and (max-width: $desktop_width - 0.2) {
    @content;
  }
}

@mixin table_border_hack() {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    @content;

    display: block;
    width: 1px;
    height: 1px;

    background-color: $color_gray;
  }
}
